/* Header */
.header{
    color: white;
}

.header-container{
    margin:auto;
    padding: 20px;
    min-width: 300px;
    border: 1px solid black;
    border-style: none;
    background-color: #1e1e1e;


    justify-content: center;
}

.header li {display: inline;}

.header a:link, a:visited, .headerButton {
    background-color: #121212;
    color: white;
    padding: 14px 25px; margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.header a:hover, a:active, .headerButton {
    background-color: gray;
    color: white;
}