/*General*/
.site-main-page{
    min-height: 100dvh;
    display: grid;
   /* grid-template-columns: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);*/
    background-color: #1e1e1e;
    padding-right: 20%;
    padding-left: 20%;
}
.center{
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

*{
    color: white;
}



/* About me */
.aboutMe-container{
    margin: 10px auto;
    
    border: 3px solid coral;


    transition: transform 0.5s;
}


.aboutMe-image{
    border: 3px solid coral;
    border-radius: 150px;
    margin-right: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.aboutMe-text{
    margin: 10;
    padding: 10;
    box-align: border-box;
}


/* Skills */
.skills-container{
    border: 3px solid lightblue
}

.skills-icons{
    align-content: center;
    justify-self: left;
    text-align: left;
}


.technicalSkills{
    outline-style: solid;
    margin: 5px;
    border-radius: 4px;
    padding: 8px;
    display: inline-flex;

    transition: transform 0.5s;
}

.technicalSkills:hover{
    transform: scale(1.1);
}


/* Projects */
.projects{
    background-color: #1e1e1e;
    max-width: 500px;
    justify-self: center;
    /*background-color: #1e1e1e;*/
}


/*Footer*/
.footer-container{

}

.icon{
    filter: invert(100%) brightness(1000%);
    width: 30px;
}