*{
    color: white;
}

.card-wrapper{
    column-gap: 15px;
}

.page-backgorund{
    background-color: #1e1e1e;
    height: 100vh
}
.project-main{
    background-color: #1e1e1e;

    border: solid orange;
    display: flex;
    flex-wrap: wrap;
    
    max-width: 60%;
    min-width: 20%;


    justify-content: center;
    margin: 0 auto;
}


.card-style{
    border: solid orange;
    background-color: #232323;
    color: white;
}

#item-style{
    color: white;
    background-color: #232323;
}

.project-cover{
    display: block;
    position: relative;
}


.icon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    filter: 
    invert(100%)
    sepia(29%)
    saturate(0%)
    hue-rotate(12deg)
    brightness(103%)
    contrast(101%);
}
