body {
    background-color: lightblue;
}

h1 {
    color: goldenrod;
}

p {
    font-size: 20px;
}

#frase_exemplo {
    font-style: italic;
}



* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th,
td,
table {
    border: 1px solid, black;
    border-collapse: collapse;
    padding: 2px;
}

th {
    background-color: darkslategray;
    color: white;
}

td {
    background-color: lightgray;
    color: darkslategray
}

div {
    border: 1px solid black;
    margin: 1px;
    padding: 20px;
}

.center_aligning {
    text-align: center;
}

.classMain {
    background-color: lightcyan;
}

.classA {
    background-color: lightblue;
}


p.center_aligning {
    color: green;
}


.bg{
    background-image: url('../Assets/generic-background.jpg');
}