body{
    background-color: lightblue;
}
h1{
    color: goldenrod;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


th,
td,
table {
    border: 1px solid, black;
    border-collapse: collapse;
    padding: 2px;
}
th {
    background-color: darkslategray;
    color: white;
}
td {
    background-color: lightgray;
    color: darkslategray
}

div{border: 1px solid black; margin: 1px; padding: 20px;}
.classMain{
    background-color: lightcyan;}
.classA{
    background-color: lightblue;}

